{% extends 'VlRadRestBundle:Default:skeleton.html.twig' %}
{% block radrest_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Delete</h3>
    </div>
    <div class="panel-body">
        {% if not data.groups.empty %}
            <div class="alert alert-danger" role="alert">
                <p>You cannot remove a user who is a member of one or more groups.</p>
                <p>You can <a href="{{ url(controller.route('edit'), {id:id}) }}" class="alert-link">edit the user</a>
                        to remove all his group memberships.</p>
            </div>
            {% else %}
            {% if form is defined %}
                {{ form(form, {action: path(controller.route('delete'), {id: id})}) }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
